<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{fa-icon "fa-youtube-play" class="fa youtube-icon"}}
        {{#title.text as |text|}}
          {{#text.headline}}Grab data from Youtube{{/text.headline}}
          {{#text.subhead}}Talks loaded: {{talks}}{{/text.subhead}}
          {{#text.subhead}}Playlists loaded: {{playlists}}{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick='reloadResults' disabled=authenticating}}
          {{#if loadingResults}}
            {{paper-progress-circular}}
          {{else}}
            Refresh results
          {{/if}}
        {{/paper-button}}
        {{#paper-button onClick='getData' disabled=running}}
          {{#if running}}
            {{paper-progress-circular}}
          {{else}}
            Get Youtube Talks
          {{/if}}
        {{/paper-button}}
        {{#paper-button onClick='getPlaylists' disabled=runningPlaylist}}
          {{#if runningPlaylist}}
            {{paper-progress-circular}}
          {{else}}
            Get Youtube Playlists
          {{/if}}
        {{/paper-button}}
        {{#paper-button onClick='getSocial' disabled=runningSocial}}
          {{#if runningSocial}}
            {{paper-progress-circular}}
          {{else}}
            Get Social Data
          {{/if}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
</div>
