<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        <!-- {{fa-icon "fa-clock-o" class="fa youtube-icon"}} -->

        <img class="algolia-logo" src="http://res.cloudinary.com/hilnmyskv/image/upload/logo-algolia-avatar.png">
        {{#title.text as |text|}}
          {{#text.headline}}Push to Algolia{{/text.headline}}
          <!-- {{#text.subhead}}Talks loaded: {{talks}}{{/text.subhead}}
          {{#text.subhead}}Playlists loaded: {{playlists}}{{/text.subhead}} -->
        {{/title.text}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick='pushData' disabled=pushing}}
          {{#if loadingResults}}
            {{paper-progress-circular}}
          {{else}}
            Push Data
          {{/if}}
        {{/paper-button}}
        <!-- {{#paper-button onClick='getData' disabled=running}}
          {{#if running}}
            {{paper-progress-circular}}
          {{else}}
            Get Data
          {{/if}}
        {{/paper-button}} -->
      {{/card.actions}}
    {{/paper-card}}
  </div>
</div>
